---
title: Videos
layout: content-full-width.pug
menuItem: 'videos'
---

p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.Grid
  .Grid-item
    iframe(
      width="100%",
      src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0",
      frameborder="0",
      allow="autoplay; encrypted-media",
      allowfullscreen
    )
    p.Grid-title Fliquip edea comm asdjn lkpofv goi dkd
    p.Grid-detail Dolor in rep
  .Grid-item
    iframe(
      width="100%",
      src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0",
      frameborder="0",
      allow="autoplay; encrypted-media",
      allowfullscreen
    )
    p.Grid-title Ut enim ad minim
    p.Grid-detail Strna jnasdlk alskdl
  .Grid-item
    iframe(
      width="100%",
      src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0",
      frameborder="0",
      allow="autoplay; encrypted-media",
      allowfullscreen
    )
    p.Grid-title Mollit anim i
    p.Grid-detail Strna jnasdlk alskdl
  .Grid-item
    iframe(
      width="100%",
      src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0",
      frameborder="0",
      allow="autoplay; encrypted-media",
      allowfullscreen
    )
    p.Grid-title Veniam, quis nostrud exercitation
    p.Grid-detail Exercitation ullamco laboris
  .Grid-item
    iframe(
      width="100%",
      src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0",
      frameborder="0",
      allow="autoplay; encrypted-media",
      allowfullscreen
    )
    p.Grid-title Mollit anim i
    p.Grid-detail Strna jnasdlk alskdl
  .Grid-item
    iframe(
      width="100%",
      src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0",
      frameborder="0",
      allow="autoplay; encrypted-media",
      allowfullscreen
    )
    p.Grid-title Ullamco laboris nisi ut illum dolore eu fugiat
    p.Grid-detail Aliquip ex ea
  .Grid-item
    iframe(
      width="100%",
      src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0",
      frameborder="0",
      allow="autoplay; encrypted-media",
      allowfullscreen
    )
    p.Grid-title Commodo consequatrit in voluptate velit esse c
    p.Grid-detail Ehenderit in voluptate velit esse
  .Grid-item
    iframe(
      width="100%",
      src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0",
      frameborder="0",
      allow="autoplay; encrypted-media",
      allowfullscreen
    )
    p.Grid-title Ytate velit ess
    p.Grid-detail Fasca asdcasd kjsdkj caskjci is
  .Grid-item
    iframe(
      width="100%",
      src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0",
      frameborder="0",
      allow="autoplay; encrypted-media",
      allowfullscreen
    )
    p.Grid-title Mollit anim i
    p.Grid-detail Strna jnasdlk alskdl
