ul(class="Navigation-list")
  li(class='Navigation-listItem')
    a(
      class=`Navigation-link ${menuItem == 'current issue' ? ' is-active' : ''}`,
      href='./index.html'
    ) current issue
  li(class='Navigation-listItem')
    a(
      class=`Navigation-link ${menuItem == 'about' ? ' is-active' : ''}`,
      href='./about.html'
    ) about
  li(class='Navigation-listItem') 
    a(
      class=`Navigation-link ${menuItem == 'issues' ? ' is-active' : ''}`,
      href='./issues.html'
    ) issues
  li(class='Navigation-listItem') 
    a(
      class=`Navigation-link ${menuItem == 'media kit' ? ' is-active' : ''}`,
      href='./media-kit.html'
    ) media kit
  li(class='Navigation-listItem') 
    a(
      class=`Navigation-link ${menuItem == 'videos' ? ' is-active' : ''}`,
      href='./videos.html'
    ) videos
  li(class='Navigation-listItem') 
    a(
      class=`Navigation-link ${menuItem == 'articles white papers' ? ' is-active' : ''}`,
      href='./articles-white-papers.html'
    ) articles & white papers
  li(class='Navigation-listItem') 
    a(
      class=`Navigation-link ${menuItem == 'contact' ? ' is-active' : ''}`,
      href='./contact.html'
    ) contact us
